<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>
<body>

<header th:insert="navbar.html :: navbar"> </header>

<!--<div class="container">-->
<!--    <div th:each="product: ${list}">-->
<!--        <p th:text="|${product.name} ${#numbers.formatDecimal(product.price, 1, 2)}zł|">Nazwa produktu i cena</p>-->
<!--    </div>-->
<!--    </br>-->
<!--    <p th:text="|Suma: ${#numbers.formatDecimal(priceSum, 1, 2)}zł|"></p>-->
<!--</div>-->


<ul>
    <li th:each="product: ${list}" th:text="|${product.name} ${#numbers.formatDecimal(product.price, 1, 2)}zł|"></li>
    <li>----------------</li>
    <li th:text="|Suma: ${#numbers.formatDecimal(priceSum, 1, 2)}zł|"></li>
</ul>




</body>
</html>